<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Wander</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Questrial&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="../media/wander_logo.svg" alt="Wander logo">
        </div>
    </header>
    <main>
        <section id="all-trips" class="section">
            <div class="section__header">
                <h1 class="section__heading">Trips</h1>
                <button id="new-trip" class="c-btn c-btn--primary c-btn--icon-only@mobile">
                    <span class="c-btn__icon c-btn__icon--revolve">
                        <svg data-name="add-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="#fff">
                            <path data-name="Path-1" d="M12,6a1.075,1.075,0,0,1-1,1H7v4a1.075,1.075,0,0,1-1,1,1.075,1.075,0,0,1-1-1V7H1A1.075,1.075,0,0,1,0,6,1.075,1.075,0,0,1,1,5H5V1A1.075,1.075,0,0,1,6,0,1.075,1.075,0,0,1,7,1V5h4A1.075,1.075,0,0,1,12,6Z" />
                        </svg>
                    </span>
                    <span class="c-btn__text">New trip</span>
                </button>
            </div>
            <div id="trips_list" class="section__body">
                <div data-block="placeholder-trip" class="c-trip__placeholder">
                    <p>Hi there, click "+ New trip" to start planning!</p>
                </div>
            </div>
        </section>
    </main>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/sw.js');
            })
        }
    </script>
</body>

</html>