/* -------------------
      Components
------------------- */

.c-trip {
    border: solid 1px var(--borders-grey);
    border-radius: 16px;
    padding: var(--medium-spacing) var(--small-spacing);

    &__header {
        display: grid;
        grid-template: auto / 1fr auto;
        grid-template-areas:
            'title controls'
            'image image'
            'info info';
        gap: var(--large-spacing);
        align-items: start;
        border-bottom: solid 1px var(--borders-grey);
        padding-bottom: var(--medium-spacing);
    }

    &__heading {
        font-family: var(--headings-font);
        font-size: var(--xlarge-font);
        line-height: 1.2;
        font-weight: 400;
    }

    &__info {
        grid-area: info;
    }

    &__location {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
    }


    &__image {
        grid-area: image;
        max-width: 100%;
        width: 350px;
        height: auto;
        border-radius: 8px;
    }

    &__title {
        grid-area: title;
        align-self: center;
    }

    &__controls {
        grid-area: controls;
    }

    &__body {
        display: grid;
        grid-template-columns: minmax(22.5rem, 24rem) minmax(26rem, 1fr);
        gap: var(--large-spacing);
    }

    &__destinations {
        grid-column: 2;
        grid-row: 1 / span 3
    }

    @media (min-width:32em) {

        &__header {
            grid-template: auto / 1fr 1fr auto;
            grid-template-areas:
                'title title controls'
                'image info info';
        }

        &__info {
            align-self: center;
        }
    }


    @media (min-width:45em) {
        & {
            padding: var(--large-spacing);
        }

        &__title {
            align-self: end;
        }

        &__info {
            align-self: start;
        }

        &__header {
            grid-template: auto / auto 1fr auto;
            grid-template-areas:
                'image title controls'
                'image info info';
            padding-bottom: var(--large-spacing);
            margin-bottom: var(--large-spacing);
        }
    }

}

.c-btn {
    border: none;
    border-radius: 5rem;
    padding: 1.125em 1.5em;
    font-size: var(--small-font);
    font-weight: 500;
    line-height: 1;
    transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 24px;
        min-height: 24px;
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        opacity: 0.9;
    }

    &:hover &,
    &:focus & {
        &__icon--revolve {
            transform: rotate(180deg);
        }
    }

    &--primary {
        background-color: var(--primary-color);
        color: #fff;

        & svg {
            fill: #fff;
        }
    }

    &--secondary {
        background-color: transparent;
        border: solid 1px var(--borders-grey);
    }

    &--round {
        border-radius: 50%;
    }

    @media (max-width:45em) {

        &--icon-only\@mobile {
            border-radius: 50%;
            padding: 1.125em;
        }

        &--icon-only\@mobile & {
            &__text {
                position: absolute;
                top: auto;
                left: -10000px;
                overflow: hidden;
                width: 1px;
                height: 1px;
                display: inline-block;
            }
        }
    }
}

.c-capsule {
    display: inline-block;

    &--margin-lg {
        margin-bottom: 1.5rem;
    }

    &--margin-md {
        margin-bottom: 1rem;
    }

    &--margin-sm {
        margin-bottom: 0.5rem;
    }

    &__input {
        display: flex;
        align-items: center;
        border: none;
        padding: var(--xsmall-spacing);
        // margin: -0.5rem;
        border-radius: 8px;
        font: inherit;
        line-height: inherit;
        width: auto;

        &[type=date] {
            max-height: calc(1em + 1rem);
        }

        &:focus {
            border: none;
            outline: none;
            box-shadow: inset 0 0 0 1px #ededed;
        }
    }

    &__view {
        display: inline-block;
        margin: 0;
        font: inherit;
        line-height: inherit;
        padding: var(--xsmall-spacing);
        border-radius: 8px;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: var(--capsule-grey);
            outline: none;
        }
    }
}

.c-date {
    flex-wrap: nowrap;
    align-items: center;

    &__dates {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__input {
        display: block;
        max-width: 7.4em;
    }

    &__days-info {
        display: flex;
        flex-wrap: wrap;
        gap: var(--small-spacing);
    }

    &__days {
        background-color: var(--borders-grey);
        border-radius: 10em;
        padding: 0.4em 0.8em;
        line-height: 1;
        white-space: nowrap;
    }

    &--time & {
        &__input {
            display: block;
            max-width: 3.77em;
        }
    }
}

.c-controls {
    display: flex;
    grid-column: 3;

    &--modal\@mobile & {
        &__box {
            position: absolute;
            top: auto;
            left: -10000px;
            width: 1px;
            height: 1px;
            display: inline-block;
            overflow: hidden;
            opacity: 0;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        gap: var(--medium-spacing);
    }

    &__btn {
        display: grid;
        align-items: center;
        grid-auto-flow: column;
        gap: var(--medium-spacing);
        background-color: transparent;
        border: solid 1px var(--borders-grey);
        padding: 0.75em;
        border-radius: 8px;
        color: var(--dark-grey);

        &--sm {
            padding: 0.445em;
        }

        &--round {
            border-radius: 50%;
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 24px;
        min-height: 24px;
    }

    &__text {
        position: absolute;
        top: auto;
        left: -10000px;
        overflow: hidden;
        width: 1px;
        height: 1px;
        display: inline-block;
        text-align: left
    }

    &__show {
        display: none;
    }

    &--modal\@mobile & {
        &__show {
            display: block;
            background-color: transparent;
            border: none;
            padding: 0.75rem;
        }
    }

    &__close {
        position: absolute;
        top: var(--medium-spacing);
        right: var(--medium-spacing);
        background-color: transparent;
        border: solid 1px var(--borders-grey);
        border-radius: 50%;
        padding: 0.75rem;
        z-index: 1001;
    }

    &__backdrop {
        display: block;
        position: absolute;
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
        backdrop-filter: blur(10px) brightness(.7);
        animation-name: fade-in;
        animation-duration: 0.6s;

        &.is-hidden {
            display: none;
        }

        @keyframes fade-in {
            from {
                opacity: 0
            }

            to {
                opacity: 1
            }
        }
    }

    &__box.is-expanded {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 1000;
        height: auto;
        width: 80%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 16px;
        padding: var(--xlarge-spacing) var(--large-spacing);
        box-shadow: 0 0 48px rgba(0, 0, 0, 0.3);
        opacity: 1;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__box.is-expanded & {
        &__list {
            margin: 1rem 0;
            grid-auto-flow: row;
        }

        &__item {
            padding-bottom: 1rem;
            border-bottom: solid 1px var(--borders-grey);

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &__btn {
            grid-template-columns: auto 1fr;
            border: none;
            width: 100%;
        }

        &__text {
            font-size: var(--medium-font);
            position: relative;
            width: auto;
            height: auto;
            left: auto;
            overflow: auto;
        }
    }

    @media (min-width:56em) {
        &--modal\@mobile & {
            &__show {
                display: none;
            }

            &__box {
                position: relative;
                left: auto;
                transform: none;
                z-index: auto;
                width: auto;
                height: auto;
                border-radius: 0;
                box-shadow: none;
                padding: 0;
                opacity: 1;
            }
        }

        &__close {
            display: none;
        }
    }
}

.c-inline-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 26px;
    margin-right: 1em;
    font-size: var(--small-font);
}

.c-error {
    display: block;
    position: relative;

    &__message {
        font-size: var(--xsmall-font);
        color: red;
        margin: 0;
    }
}

.c-widget {
    &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 44px;
        margin-bottom: var(--medium-spacing);
    }

    &__controls {
        justify-self: end;
    }

    &__heading {
        color: var(--medium-grey);
        font-family: var(--headings-font);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
    }

    &__sub-heading {
        color: var(--medium-grey);
        font-family: var(--body-font);
        font-size: var(--small-font);
        font-weight: 300;
        margin: 0 0 var(--small-spacing);
    }
}

.c-current-weather {

    margin-bottom: var(--xlarge-spacing);

    &__body {
        display: flex;
        align-items: center;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: var(--large-spacing);
    }

    &__temp {
        font-size: var(--xlarge-font);
        line-height: 1;
    }

    &__icon {
        height: auto;
        max-width: 60px;
    }

    &__desc {
        font-size: var(--xsmall-font);
    }

    &__ranges {
        display: flex;
        font-size: var(--xsmall-font);
    }

    &__point+&__point {
        margin-left: var(--small-spacing);
    }
}

.c-forecast-weather {

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--small-spacing);
        padding-left: 0;
        list-style: none;
    }

    &__item {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--large-spacing);
        max-width: 24rem;
        background-color: #f9f9f9;
        padding: var(--small-spacing);
        border-radius: 8px;
        min-width: 24rem;
    }

    &__title {
        display: grid;
    }

    &__day {
        font-size: var(--medium-font);
        font-weight: 400;
    }

    &__date {
        font-size: var(--small-font);
        line-height: 1;
        font-weight: 300;
    }

    &__weather {
        display: flex;
        align-items: center;
    }

    &__desc {
        font-size: var(--xsmall-font);
        line-height: 1;
    }

    &__icon {
        width: 60px;
        height: auto;
    }

    &__temps {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-self: end;
    }

    &__temp {
        font-size: var(--medium-font);
        font-weight: 400;
    }

    &__point {
        font-size: var(--small-font);
        font-weight: 300;
        line-height: 1;
    }

}


.c-travel-details {

    &__dep{
        margin-bottom:var(--medium-spacing);
    }

    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    &__item {
        display: grid;
        align-items: center;
        grid-template-columns: 0.2fr 1fr;
    }
}